<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--
    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

    <bean class="ru.javawebinar.topjava.service.UserService">
        <constructor-arg name="repository" ref="inmemoryUserRepository"/>
    </bean>
-->
    <import resource="spring-cache.xml"/>

    <context:component-scan base-package="ru.javawebinar.**.service"/>

    <!-- Не работает (при тестировании) -->
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="ru.javawebinar.topjava.web.meal.StringToLocalDate"/>
                <bean class="ru.javawebinar.topjava.web.meal.StringToLocalTime"/>
            </set>
        </property>
    </bean>
</beans>